<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <h3>
        <%= @post.title%>
      </h3>
      <p>
        <%= @post.content%>
      </p>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
    </div>
  </div>
</div>
