<div class="main users-edit">
  <div class="container">
    <div class="form-heading">アカウント編集</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_for(@user, url: admin_user_path(@user), html: {method: "patch"}) do |f| %>
        <%= render partial: 'form' , locals: {f: f} %>
        <%= submit_tag("保存", class: 'btn btn-info btn-new link-color') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
